.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
education_allowance_request_st
education_allowance_request_details_st
education_allowance_sheet_st
education_allowance_sheet_details_st
educational_year_st